---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import arrowRight from '/icons/arrow-right.svg'

const upcomingGames = (await getCollection('upcomingGames')).sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const logs = (await getCollection('devLogs')).sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
        <head>
                <BaseHead title="4oz Studio - Games" description="See 4oz Studio's games" />
                <style>
                        main {
                                width: 960px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                        }

                        .games {}
                        .dev-logs {
                                margin-top: 8vh;
                        }

                        .game-ul {
                                margin-top: 2rem;
                                width: 100%;
                                display: grid;
                                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                                gap: 1px;
                                list-style-type: none;
                                margin: 0;
                                padding: 0;
                        }
                        .log-ul {
                                margin-top: 2rem;
                                width: 100%;
                                display: grid;
                                grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
                                gap: 1px;
                                list-style-type: none;
                                margin: 0;
                                padding: 0;
                        }
                        ul li {
                                border: 1px solid black;
                                position: relative;
                                transition: ease-in-out 0.1s;
                        }
                        ul li * {
                                text-decoration: none;
                                transition: 0.2s ease;
                        }

                        ul li img {
                                margin-bottom: 0.5rem;
                                border: 1px solid black;
                        }
                        ul li a {
                                height: 100%;
                        }
                        .top {
                                border-bottom: 1px solid black;
                                padding: 8px;
                        }
                        .bottom {
                        }
                        .title {
                                margin: 0;
                                color: rgb(var(--black));
                                line-height: 1;
                                padding: 6px 2px;
                                padding-top: 0;
                                padding-bottom: ;
                                font-weight: 600;
                        }
                        .description {
                                color: black;
                                font-size: 16px;
                                padding: 10px;
                                padding-bottom: 40px;
                        }
                        .read-more {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                font-size: 14px;
                                color: black;
                                font-weight: 600;
                                display: flex;
                                align-items: center;
                                padding: 0 10px;
                        }
                        ul li a:hover h4,
                        ul li a:hover .read-more {
                                text-decoration: underline;
                        }
                        ul li a:hover .title {
                                text-decoration: none;
                        }
                        ul li:hover {
                                transform: translateY(-1px);
                        }
                        ul a:hover img {
                        }
                </style>
        </head>
        <body>
                <Header />
                <main>
                        <div class="games">
                                <section>
                                        <ul class="game-ul">
                                                {
                                                        upcomingGames.map((post) => (
                                                                <li>
                                                                        <a href={`/games/${post.id}/`} title="View Post">
                                                                                <div class="top">
                                                                                        <img width={720} height={360} src={post.data.heroImage} alt="Game Image" />
                                                                                        <h4 class="title">{post.data.title}</h4>
                                                                                </div>
                                                                                <div class="bottom">
                                                                                        <p class="description">{post.data.description}</p>
                                                                                </div>
                                                                                <p class="read-more">See More
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#000000"><path d="m576-288-51-51 105-105H192v-72h438L525-621l51-51 192 192-192 192Z"/></svg>
                                                                                </p>
                                                                        </a>
                                                                </li>
                                                        ))
                                                }
                                        </ul>
                                </section>
                        </div>

                        <div class="dev-logs">
                                <h4>Dev Logs</h4>
                                        <section>
                                                <div class="log-placeholder-box">
                                                        <h5>Dev logs temporarily removed. </h5>
                                             
                                                        <p>We are reconstructing the dev log series. 
                                                        <br/>
                                                        Subscribe to the 
                                                        <a href="https://www.youtube.com/@4ozmane/live" target="_blank" rel="noopener noreferrer">YouTube channel</a> 
                                                        and tune into our livestreams in the meantime.</p>
                                                </div>
                                        </section>
                                
                               <!-- <section>
                                        <ul class="log-ul">
                                                {
                                                        logs.map((post) => (
                                                                <li>
                                                                        <a href={`/games/${post.id}/`}>
                                                                                <div class="top">
                                                                                        <img width={720} height={360} src={post.data.heroImage} alt="" />
                                                                                        <h4 class="title">{post.data.title}</h4>
                                                                                </div>
                                                                                <div class="bottom">
                                                                                        <p class="description">{post.data.description}</p>
                                                                                </div>
                                                                                <p class="read-more">See More
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#000000"><path d="m576-288-51-51 105-105H192v-72h438L525-621l51-51 192 192-192 192Z"/></svg>
                                                                                </p>
                                                                        </a>
                                                                </li>
                                                        ))
                                                }
                                        </ul>
                                </section> -->
                        </div>
                </main>
                <Footer />
        </body>
</html>
